User Input
1. Write a Python program to prompt the user for their name and print a greeting message.
2. Ask the user to enter two numbers and print their sum.
3. Write a program that asks the user to enter their age and then prints how old they will be in 5 years.
4. Prompt the user for a sentence and count the number of words in the sentence.
5. Create a program that asks for the user's birth year and calculates their age.
6. Write a program that asks the user to enter three different numbers and prints the largest one.
7. Ask the user for their height in centimeters and convert it to meters.
8. Create a program that asks for the user's favorite color and prints a message based on the input (e.g., "Blue is a calming color").
9. Prompt the user to enter a list of numbers separated by commas and calculate the average of those numbers.
10. Write a program that asks the user for their first and last name separately and then prints their full name in reverse order (last name, first name).

In [1]:
# Write a Python program to prompt the user for their name and print a greeting message.
name=input("Please enter your name: ")
print("Hello",name," How are you doing?. Have a great day")

Please enter your name: sanjana
Hello sanjana  How are you doing?. Have a great day

In [2]:
#Ask the user to enter two numbers and print their sum.
num1=int(input("enter a value: "))
num2=int(input("enter b value: "))
print("The sum of a",num1, "and b", num2, "is: ",(num1+num2))

enter a value: 10
enter b value: 4
The sum of a 10 and b 4 is:  14

In [3]:
#Write a program that asks the user to enter their age and then prints how old they will be in 5 years.
age=int(input("Enter your current age: "))
print("Your age in next 5 years will be ",(age+5))

Enter your current age: 15
Your age in next 5 years will be  20

In [4]:
# Prompt the user for a sentence and count the number of words in the sentence.
s=input("Enter a sentence: ")
l=s.split()
length=len(l)
print(length)

Enter a sentence: my name is sanjana
4

In [5]:
# Create a program that asks for the user's birth year and calculates their age.
bday=int(input("Enter your Birthday year: "))
age=2024-bday
print("Your current age is: ",age)

Enter your Birthday year: 2018
Your current age is:  6

In [6]:
# Write a program that asks the user to enter three different numbers and prints the largest one.
print("Pleae enter 3 different numbers ")
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))
if(a>b and a>c):
  print("The largest number out of these 3 number is ", a)
elif b>a and b>c:
  print("The largest number out of these 3 number is ", b)
elif c>a and c>b:
  print("The largest number out of these 3 number is ", c)
else:
  print("please enter different numbers")

Pleae enter 3 different numbers
Enter first number: 3
Enter second number: 6
Enter third number: 8
The largest number out of these 3 number is  8

In [7]:
# Ask the user for their height in centimeters and convert it to meters.
h=float(input("Enter your age in centimeters: "))
print("Your entered height is ",h,"cm");
m=h/100
print("Height is in meters: ",m,"m")

Enter your age in centimeters: 157
Your entered height is  157.0 cm
Height is in meters:  1.57 m

In [8]:
#Create a program that asks for the user's favorite color and prints a message based on the input (e.g., "Blue is a calming color").
c=input("please enter your favorite color: ").lower()
if c=="blue" :
  print("\"Blue is a calming color\"")
elif c=="red" :
  print("Red represents fire")
elif c=="orange":
  print("Orange is a very vibrant and energetic color")
elif c== "yellow":
  print("Yellow is associated with happiness and sunshine")
elif c=="green" :
  print("Green represent new beginnings and growth")
elif c=="purple" :
  print("Purple is represents royalty and wealth")
elif c=="black" :
  print("Black is symbol of power, elegance, and formality")
elif c=="white" :
  print(" White is represents purity")
else:
  print("sorry... \n your entered color is not in the list")

please enter your favorite color: red
Red represents fire

In [9]:
# Prompt the user to enter a list of numbers separated by commas and calculate the average of those numbers.
val=input("Enter a list of numbers separated by commas: ")
l=val.split(",")
print (l)
sum=0
s=[]
length=len(l)
for i in l:
  num=int(i)
  s.append(num)
print(s)

for i in range(0,len(s)):
  sum=sum+s[i]
print(sum)
avg=sum//len(s)
print("Average is: ",avg)

Enter a list of numbers separated by commas: 1,2,7,6,4
['1', '2', '7', '6', '4']
[1, 2, 7, 6, 4]
20
Average is:  4

In [10]:
# Write a program that asks the user for their first and last name separately and then prints their full name in reverse order (last name, first name).
fname=input("Enter first name: ")
lname=input("Enter last name: ")
print("Reverse order of full name: ")
print(lname,fname)

Enter first name: abc
Enter last name: x
Reverse order of full name:
x abc

Convert User Input
1. Ask the user to enter a number and convert it to an integer.
2.Prompt the user for a floating-point number and convert it to an integer.
3. Write a program that asks for a string input and converts it to uppercase.
4. propmt the user to enter a number and print its binary representation.
5. Create a program that takes a user input as a string and converts it to a list of characters.
6. Ask the user to enter a number and convert it to a float.
7. Write a program that takes a user input and converts it to a boolean.
8. Prompt the user to enter two numbers and convert them to complex numbers.
9. Create a program that converts a user-entered string representing a date (e.g., "2024-08-01") to a datetime object.
10. Write a program that asks the user for a hexadecimal string and converts it to an integer.

In [11]:
# Ask the user to enter a number and convert it to an integer.
num=input("Enter a number ")
convert=int(num)
print("entered number is: ",num)
print("Result is ",convert)

Enter a number 60
entered number is:  60
Result is  60

In [12]:
# Prompt the user for a floating-point number and convert it to an integer.
num=float(input("Enter a number "))
con=int(num)
print("entered floating number is: ",num)
print("Result is in integer ",con)

Enter a number 89.456
entered floating number is:  89.456
Result is in integer  89

In [13]:
#Write a program that asks for a string input and converts it to uppercase.
string=input("Enter a string: ")
s=string.upper()
print(s)

Enter a string: python
PYTHON

In [14]:
#propmt the user to enter a number and print its binary representation.
num=int(input("Enter a number: "))
num1=bin(num)
print(num1)
res=num1[2:]
print(res)
# return bin(n)[2:]

Enter a number: 3
0b11
11

In [15]:
# #Create a program that takes a user input as a string and converts it to a list of characters.
s=input("enter a string: ")
# res=[char for char in s]
# print(res)
l=list(s)
print(l)

enter a string: python
['p', 'y', 't', 'h', 'o', 'n']

In [16]:
#Ask the user to enter a number and convert it to a float.
n=int(input("enter a number: "))
n1=float(n)
print("float value: ",n1)

enter a number: 50
float value:  50.0

In [17]:
#Write a program that takes a user input and converts it to a boolean.

In [18]:
# Prompt the user to enter two numbers and convert them to complex numbers.
a=float(input("enter real part: "))
b=float(input("enter imaginary part: "))
res=complex(a,b)
print(res)

enter real part: 4
enter imaginary part: 6
(4+6j)

In [19]:
#Create a program that converts a user-entered string representing a date (e.g., "2024-08-01") to a datetime object.
from datetime import datetime
d=input("enter date: (yyyy-mm-dd) ")
dt=datetime.strptime(d,"%Y-%m-%d")
print(dt)

enter date: (yyyy-mm-dd) 2024-12-01
2024-12-01 00:00:00

In [20]:
# #Write a program that asks the user for a hexadecimal string and converts it to an integer.

h=input("enter a hexadecimal number: ")
i=int(h,16)
print("integer value",i)

enter a hexadecimal number: AC7
integer value 2759

Comparison Operators
1. program that asks the user for two numbers and checks if they are equal.
2. program to compare two user-entered numbers and print the  greater.
3. Ask the user for their age and check if they are old enough to vote (18 or older).
4. Write a program that checks if a user-entered number is positive, negative, or zero.
5. Create a program that asks the user for two words and checks if they are the same (case-insensitive).
6. Write a program that checks if a user-entered year is a leap year.
7. Ask the user for a number and check if it is divisible by both 3 and 5.
8. Create a program that checks if a user-entered string contains the word "Python".
9. Write a program that compares the lengths of two user-entered strings and prints which one is longer.
10. Ask the user for three numbers and check if they can form a triangle (sum of any two sides must be greater than the third side).

In [21]:
#program that asks the user for two numbers and checks if they are equal.
a=int(input())
b=int(input())
print(a==b)

20
10
False

In [22]:
#program to compare two user-entered numbers and print the greater.
a=int(input())
b=int(input())
if a>b:
  print(a)
else:
  print(b)

2
4
4

In [23]:
#Ask the user for their age and check if they are old enough to vote (18 or older).
age=int(input("Enter age: "))
if(age<18):
  print("not eligible to vote")
else:
  print("eligible to vote")

Enter age: 45
eligible to vote

In [24]:
# Write a program that checks if a user-entered number is positive, negative, or zero.
n=int(input("Enter a number: "))
if(n>0):
  print("positive")
elif(n<0):
  print("negative")
else:
  print("zero")

Enter a number: -10
negative

In [25]:
#Create a program that asks the user for two words and checks if they are the same (case-insensitive).
w1=input("enter word1: ").lower()
w2=input("enter word2: ").lower()
if(w1==w2):
  print("same")
else:
  print("not same")

enter word1: abc
enter word2: ABC
same

In [26]:
#Write a program that checks if a user-entered year is a leap year.
y=int(input("enter a year"))
if(y%4==0):
  print("leap year")
elif(y%400==0):
  print("leap year")
elif(y%100==0):
  print("not a leap year")
else:
  print("not a leap year ")

enter a year2000
leap year

In [27]:
#Ask the user for a number and check if it is divisible by both 3 and 5.
num=int(input("enter a number: "))
if(num%3==0 and num%5==0):
  print("the given number ",num,"divisible by both 3 and 5")
else:
  print("the given number ",num,"not divisible by both 3 and 5")

enter a number: 10
the given number  10 not divisible by both 3 and 5

In [28]:
#Create a program that checks if a user-entered string contains the word "Python".
string=input()
if "Python" in string:
  print("present")
else:
  print("not present")

2
not present

In [29]:
#Write a program that compares the lengths of two user-entered strings and prints which one is longer.
string1=input()
string2=input()
l1=len(string1)
l2=len(string2)
if(l1==l2):
  print("equal")
else:
  print("not equal")

easy
exam
equal

In [30]:
#Ask the user for three numbers and check if they can form a triangle (sum of any two sides must be greater than the third side).

a=int(input())
b=int(input())
c=int(input())
if((a+b)>c and (b+c)>a and (c+a)>b):
  print("can form triangle")
else:
  print("cannot form triangle ")

3
4
5
can form triangle

**13/8/2024 lab work**

In [32]:
astr="Hello Bob"
istr=int (astr)
istr=-1
print("First", istr)

bstr="123"
jstr=int (bstr)
jstr=-1
print("Second", jstr)

ValueError: invalid literal for int() with base 10: 'Hello Bob'

In [33]:
#try and except

astr="Hello Bob"
try:
  istr=int (astr)
except:
  istr=-1
print("First", istr)

bstr="123"
try:
  jstr=int (bstr)
except:
  jstr=-1
print("Second", jstr)

First -1
Second 123

In [34]:
# built in functions
big=max("hello world")
print(big) # o/p: w
tiny=min("hello world")
print(tiny) # output is space

w

In [35]:
#Write a program to prompt the user for hours and rate per hour to compute gross pay
Hour=int(input("Enter Hours: "))
Rate=float(input("Enter Rate: "))
Pay=Hour*Rate
print("Pay: ",Pay)

Enter Hours: 2
Enter Rate: 10
Pay:  20.0

In [36]:
# #Write a program to prompt the user for hours and rate per hour to compute gross pay using try and except


try:
    hours = float(input("Enter hours : "))
    rate = float(input("Enter rate: "))
    pay = hours * rate
    print("pay: ",pay)

except:
    print("Error: Please enter valid numbers for hours and rate.")



#try:
  #Hour=input("Enter Hours: ")
  #if(Hour>=48 and Hour<=57):
   # print(Hour)
#except:
 # print("Enter a number")

#try:
 # Rate=input("Enter Rate: ")
  #if(Hour>=48 and Hour<=57):
    ##print(Hour)

#Pay=Hour*Rate
#print("Pay: ",Pay)'''

Enter hours : 10
Enter rate: 300
pay:  3000.0

In [37]:
n=0
while(n>0):
  print("Leather")
  print('Rinse')
print('Dry off!')

Dry off!

In [38]:
# finding the largest value
largest_so_far=-1
print("Before", largest_so_far)
for num in[9,41,12,3,74,15]:
  if num>largest_so_far:
    largest_so_far=num
  print(largest_so_far,num)
print('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [39]:
# finding the smallest value
smallest_so_far=100
print("Before", smallest_so_far)
for num in[9,41,12,3,74,15]:
  if num<smallest_so_far:
    smallest_so_far=num
  print(smallest_so_far,num)
print('After', smallest_so_far)

Before 100
9 9
9 41
9 12
3 3
3 74
3 15
After 3

In [40]:
#count elements and sum of elements
#average
#filtering number
#searching  using boolean variable

In [41]:
#scipy
#numpy-- data computation
#pandas -- data manipulation'
import scipy
print('scipy: %s' % scipy.__version__)
import numpy
print('numpy: %s' % numpy.__version__)
import pandas
print('pandas: %s' % pandas.__version__)
import statsmodels
print('statsmodels: %s' % statsmodels.__version__)
import sklearn
print('sklearn: %s' % sklearn.__version__)

scipy: 1.13.1
numpy: 1.26.4
pandas: 2.2.2
statsmodels: 0.14.4
sklearn: 1.5.2

In [42]:
def add_num(a,b):
  sum=a+b
  return sum

In [43]:
print(add_num(10,59))

69

In [44]:
def add_num(x,y,z=None):
  if(z==None):
    return x+y
  else:
    return x+y+z

In [45]:
print(add_num(10,59))

69

In [46]:
def add_num(x,y,z=None,flag=False):
  if(flag):
    print("flag is on")
  elif(z==None):
    return x+y
  else:
    return x+y+z

In [47]:
a=add_num
print(a(10,59,flag=True))

flag is on
None

In [48]:
type(add_num)

function

In [49]:
x=(1,'a',2)
type(x)

tuple

In [50]:
x.append(2.2)

AttributeError: 'tuple' object has no attribute 'append'

In [51]:
x=[1,'a',2]
type(x)

list

In [52]:
x.append(2.2)

In [53]:
print(x)

[1, 'a', 2, 2.2]

In [54]:
for item in x:
  print(item)

1
a
2
2.2

In [55]:
#length function
len(x)

4

In [56]:
#using index operator
#using while loop
i=0
while(i!=len(x)):
  print(x[i])
  i=i+1

1
a
2
2.2

In [57]:
#concatenate list
[1,2]+[3,4]

[1, 2, 3, 4]

In [58]:
# appending is not possible in tuple but concatenation possible
(1,2)+(3,4)

(1, 2, 3, 4)

In [59]:
#use * to repeat lists
x=[10,1,3.3]
[10, 1,3.3]*3
#[10,10,10,1,1,1,3.3,3.3,3.3]

# import numpy as np
# r=np.repeat(x,3)
# print(r)

[10, 1, 3.3, 10, 1, 3.3, 10, 1, 3.3]

In [60]:
import numpy as np
x=[10,1,3.3]
r=np.repeat(x,3)
print(r)

[10.  10.  10.   1.   1.   1.   3.3  3.3  3.3]

In [61]:
#use the in operator to check if something is inside a list
3 in [1,2,3,4,5]

True

**#20/8/24** **lab session**

In [62]:
#string use bracket notation to slice a string
x='This is a string'

In [63]:
print(x[0]) # 1st character

T

In [64]:
# 1t character , but we have explicitly set the end character
print(x[0:1])

T

In [65]:
print (x[0:2])

Th

In [66]:
# this will return the last element of the string
print(x[-1])

g

In [67]:
x[-4:-2]

'ri'

In [68]:
x[-4:-3]

'r'

In [69]:
x[:3]

'Thi'

In [70]:
x[3:]

's is a string'

In [71]:
firstname='MSIS'
lastname='Manipal'

In [72]:
print(firstname +''+lastname)

MSISManipal

In [73]:
print(firstname*3)

MSISMSISMSIS

In [74]:
print('is' in firstname)
# MSIS -- flase bcz of case sensitive

False

In [75]:
print('IS' in firstname)

True

In [76]:
#split returns a list of all the words in a string, or a list split on a specific character
firstname='Tom Mitchell Machine Learning Scientist'.split(' ')[0]
#[0] selects the first element of the list
middlename='Tom Mitchell Machine Learning Scientist'.split(' ')[1]
lastname= 'Tom Mitchell Machine Learning Scientist'.split(' ')[-1]
# [-1] selects the last element of the list

In [77]:
print(firstname)
print(middlename)
print(lastname)

Tom
Mitchell
Scientist

In [78]:
print(firstname+' '+middlename+' '+lastname)

Tom Mitchell Scientist

In [79]:
lastname= 'Tom Mitchell Machine Learning Scientist'.split('M')
print(lastname)
lastname= 'Tom Mitchell Machine Learning Scientist'.split('M')[-1]
print(lastname)

['Tom ', 'itchell ', 'achine Learning Scientist']
achine Learning Scientist

In [80]:

#we cannot conctenate string anmd integer
# Make sure you convert objects to strings before concatenanting
'Chris'+'2'

'Chris2'

In [81]:
'Chris'+str(2)

'Chris2'

In [82]:
# Dictionaries associate keys with values
x={'Tom': 'tom.m@gmu.org', 'Bill Gates':'billg@microsoft.com'}

In [83]:
type(x)

dict

In [84]:
#retrieve a value by using the index operator

x['Bill Gates']

'billg@microsoft.com'

In [85]:
#cannot get key from values
x['billg@microsoft.com']

KeyError: 'billg@microsoft.com'

In [86]:
#add new key, value
x['Thompson']='mit@ua.edu'

In [87]:
print(x)

{'Tom': 'tom.m@gmu.org', 'Bill Gates': 'billg@microsoft.com', 'Thompson': 'mit@ua.edu'}

In [88]:
x

{'Tom': 'tom.m@gmu.org',
 'Bill Gates': 'billg@microsoft.com',
 'Thompson': 'mit@ua.edu'}

In [89]:
#Iterate over all of the keys:
#print only names/keys
for name in x:
  print(name)

Tom
Bill Gates
Thompson

In [90]:
#print values ofthe corresponding keys eg :mail-ids
for name in x:
  print(x[name])

tom.m@gmu.org
billg@microsoft.com
mit@ua.edu

In [91]:
#other way to iterate over all the values
for email in x.values():
  print(email)

tom.m@gmu.org
billg@microsoft.com
mit@ua.edu

In [92]:
# iterate over all of the items in the list
for name in x.items():
  print(name)

('Tom', 'tom.m@gmu.org')
('Bill Gates', 'billg@microsoft.com')
('Thompson', 'mit@ua.edu')

In [93]:
# iterate over all of the items in the list
for name,email in x.items():
  print(name)
  print(email)

Tom
tom.m@gmu.org
Bill Gates
billg@microsoft.com
Thompson
mit@ua.edu

In [94]:
# you can unpack a sequence into different variables:
x=('Tom', 'Michel', 'tom.m@gmu.org')
fname,lname,email=x

In [95]:

lname

'Michel'

In [96]:
fname

'Tom'

In [97]:
email

'tom.m@gmu.org'

In [98]:
#make sure that maintain order here
x=('Tom', 'Michel', 'tom.m@gmu.org','ca')
fname,lname,email,cname=x

In [99]:
cname

'ca'

In [100]:
#python has a built in method for convenient string formatting

In [101]:
sales_record={
    'price':3.24,
    'num_items':4,
    'person':'Tom',
    'email':'tom@ua.edu'
}

In [102]:
sales_statement='{} bought {} item(s) at a price of INR {} each for a total of INR {}'

In [103]:
print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Tom bought 4 item(s) at a price of INR 3.24 each for a total of INR 12.96

In [104]:
import datetime as dt
import time as tm

In [105]:
#time returns the currect time in seconds since the Epoch.(January 1st,1970)
#time in seconds from 1st jan 1970
tm.time()

1728658146.599642

In [106]:
from datetime import date
from datetime import time
from datetime import datetime

In [107]:
today=date.today()
print('today date is', today)

today date is 2024-10-11

In [108]:
#convert the timestamp to date time
dtnow=dt.datetime.fromtimestamp(tm.time())
dtnow
#time is server time
# datetime.datetime(2024-year, 8-month, 20-day, 5-hour, 53-minute, 20-seconds, 367401-miliseconds)

datetime.datetime(2024, 10, 11, 14, 49, 6, 633194)

In [109]:
#Handy datetime attributes:
dtnow.year,dtnow.month,dtnow.day,dtnow.hour,dtnow.minute,dtnow.second

(2024, 10, 11, 14, 49, 6)

In [110]:
#timedelta is a duration expressing the difference between 2 dates
delta=dt.timedelta(days=30) # create a timedelta of 100 days

In [111]:
#date.today returns the current local date
today=dt.date.today()

In [112]:
today- delta #the date 100days ago

datetime.date(2024, 9, 11)

In [113]:
today>today-delta  #compare dates

True

In [114]:
#objects and class
class Person:
  institute='Manipal School of Information Sciences' # a class variable
  #self keyword to access the attributes and methods of the class
  def set_name(self, new_name):      # a method
    self.name=new_name
  def self_location(self, new_location):
    self.location=new_location

In [115]:
person=Person()
person.set_name("Sanjana")
person.self_location('Manipal, Udupi, Karnataka')

In [116]:
print('{} lives in {} and works in the institute {}'.format(person.name,person.location,person.institute))

Sanjana lives in Manipal, Udupi, Karnataka and works in the institute Manipal School of Information Sciences

In [117]:
x={1,'x',2,'y',(1,2,3),'hello'}
y=(1,2,3)
type(x)

set

In [118]:
type(y)

tuple

In [119]:
#sets are unordered
y={'one','x',2,'y',3}
z={1,'x','two','y','a'}
print(y,z)

{'y', 2, 3, 'x', 'one'} {'y', 1, 'two', 'a', 'x'}

In [120]:
#add values to the set
y.add(4)
y

{2, 3, 4, 'one', 'x', 'y'}

In [121]:
x=[1,'x',2,'y']
type(x) #list

list

In [122]:
#eg of mapping the min function between
store1=[10.00,11.00,12.34,5.34]
store2=[19.00,10.10,12.24,5.01]
store3=[15.00,12.00,11.00,6.00]
cheapest=map(min,store1,store2,store3)
costly=map(max,store1,store2,store3)
print(cheapest)
print(costly)
#output ids where the answer is stored
#<map object at 0x79906bd115d0>
#<map object at 0x79906bd13c70>

<map object at 0x7808e5705480>
<map object at 0x7808e5705cf0>

In [123]:
# if we want to print
#iterarte through the map object to see the values
for item in cheapest:
  print(item)

10.0
10.1
11.0
5.01

In [124]:
# if we want to print
for item in costly:
  print(item)

19.0
12.0
12.34
6.0

In [125]:
#calculate squares using map
def calculateSquare(n):
  return n*n

In [126]:
# this is right way to write code bcz in ML models will not give output instead it give prediction
numbers=(1,2,3,4)
result=map(calculateSquare,numbers)
print(result)

<map object at 0x78092405d0c0>

In [127]:
res=list(result)
print(res)

[1, 4, 9, 16]

In [128]:
for item in result:
  print(item)

In [129]:
# another way for above squaring numbers using LAMBDA
numbers=(1,2,3,4)
result=map(lambda x: x*x,numbers)
print(result)

<map object at 0x7808e5b37550>

In [130]:
list(result)

[1, 4, 9, 16]

In [131]:
#lamda -- using to add 2 list
#lambda function- when you need a function for a short period of time
num1=[4,5,6]
num2=[5,6,7]

In [132]:
result=map(lambda n1,n2:n1+n2,num1,num2)
list(result)

[9, 11, 13]

Exception Handling
1. Write a program that asks the user to enter a number and catches the ValueError if the input is not a number.
2. Create a program that asks for two numbers and catches the ZeroDivisionError if the second number is zero.
3. Write a program that prompts the user for a filename and handles the FileNotFoundError if the file does not exist.
4. Ask the user to enter a number and handle both ValueError and TypeError exceptions.
5. Create a program that tries to read a file and catches any IOError that may occur.
6. Write a program that asks the user for a list of numbers separated by spaces and handles the ValueError if any input is not a number.
7. Ask the user for a dictionary key and handle the KeyError if the key is not found in a predefined dictionary.
8. Create a program that catches the IndexError if the user tries to access an invalid index in a list.
8. Write a program that attempts to convert a user-entered string to an integer and catches the ValueError.
9. Ask the user for an integer and handle the OverflowError if the number is too large.

In [133]:
#Write a program that asks the user to enter a number and catches the ValueError if the input is not a number.
try:
  a=int(input("enter a number: "))
  print(a)
except ValueError:
  print("input is not a number")

enter a number: s
input is not a number

In [134]:
#Create a program that asks for two numbers and catches the ZeroDivisionError if the second number is zero.
try:
  a=int(input("enter number1: "))
  b=int(input("enter number2: "))
  result=a//b
  print(result)
except ZeroDivisionError:
  if(b==0):
    print("number2 is zero!!!. number2 should be greater than zero")

enter number1: 10
enter number2: 0
number2 is zero!!!. number2 should be greater than zero

In [135]:
#Write a program that prompts the user for a filename and handles the FileNotFoundError if the file does not exist.
try:
  f = open("demofile.txt", "rt")
  print(f.read())
  f.close()
except FileNotFoundError:
  print("File not Found!!!")

File not Found!!!

Try-Except Structure
1. Write a program that prompts the user for a number and uses try-except to handle invalid input.
2. Create a program that asks the user for two numbers and uses try-except to handle division by zero.
3. Write a program that tries to open a file and prints a custom error message if the file does not exist.
4. Ask the user for a list of numbers and use try-except to handle non-numeric input.
5. Create a program that uses try-except to handle multiple exceptions (ValueError, ZeroDivisionError).
6. Write a program that asks the user for a filename and uses try-except to handle file-related errors.
7. Ask the user for a number and use try-except-finally to ensure that a message is printed whether an exception occurs or not.
8. Create a program that uses nested try-except blocks to handle different types of exceptions.
9. Write a program that tries to convert a user-entered string to different data types (int, float, complex) and handles exceptions for each conversion.
10. Ask the user for a number and use try-except to handle both ValueError and custom exceptions.

Functions
1. Write a function that takes a name as input and prints a greeting message.
2. Create a function that takes two numbers as arguments and returns their sum.
3. Write a function that checks if a number is even or odd.
4. Create a function that takes a string and returns its length.
5. Write a function that takes a list of numbers and returns the maximum number.
6. Create a function that calculates the factorial of a number.
7. Write a function that takes a string and returns it in reverse.
8. Create a function that takes a list of numbers and returns a new list with only the even numbers.
9. Write a function that checks if a given string is a palindrome.
10. Create a function that takes a list of numbers and returns the average of the numbers.

Loops and Iterations
1. Write a program that prints the numbers from 1 to 10 using a for loop.
2. Create a program that prints the even numbers between 1 and 20 using a while loop.
3. Write a program that asks the user for a number and prints its multiplication table using a for loop.
4. Create a program that calculates the sum of all numbers in a user-entered list using a for loop.
5. Write a program that prints the first 10 Fibonacci numbers using a while loop.
6. Create a program that asks the user for a string and prints each character using a for loop.
7. Write a program that asks the user for a list of numbers and prints only the positive numbers using a for loop.
8. Create a program that uses a nested loop to print a multiplication table from 1 to 5.
9. Write a program that asks the user for a number and prints all its divisors using a for loop.
10. Create a program that asks the user for a list of words and prints each word in reverse using a for loop.

In [136]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:abc
Username is: abc